.lobbyTopBar{
	width: 100%;
	height: 50px;
	margin: 0;
	position: fixed;
	z-index: 100;
}

.createChatRoom{
	position: absolute;
	right: 15px;
	top: 3px;
}

.lobbyTopBarWelcome{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}

.logoutButton{
	margin-left: 20px;
}

.lobbyRoomsListCard{
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

.chatRoom{
	height: 50px;
	padding-left: 10px;
	position: relative;
}

.newRoomOverlay{
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	z-index: 200;
}

.newRoomBox{
	margin: 0 auto;
	height: 200px;
	width: 300px;
	position: relative;
}

.newRoomHeading{
	height: 40px;
	width: 100%;
	padding-left: 10px;
}

.newRoomCreate{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.newRoomInput{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.hidden{
	display: none !important;
}

.chatRoomMessageCount {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	line-height: 50px;
}