<template name="lobby">

	<div class="lobbyTopBar card valign-wrapper teal lighten-2">
		
		<div class="lobbyTopBarWelcome white-text">Welcome, {{userName}}!</div>
		<div class="logoutButton grey-text text-darken-3">Log out</div>

		<div class="createChatRoom"><i class="small mdi-content-add white-text"> </i></div>
	
	</div>

	<div style="height:50px;"></div>

	<div class="card lobbyRoomsListCard">
	{{#each chatRooms}}
		<div class="chatRoom valign-wrapper">
			<div class="chatRoomName">{{name}}</div>
			<div class="chatRoomMessageCount grey-text">{{messageCountFormatted}}</div>
		</div>
		<div class="divider"></div>
	{{/each}}
	</div>

	<div class="newRoomOverlay valign-wrapper hidden">
		
		<div class="newRoomBox card">
			<div class="newRoomHeading teal white-text valign-wrapper">New Chatroom</div>
			<div class="newRoomInput input-field">
				<input id="newRoom" type="text">
				<label for="newRoom">New Room</label>
			</div>

			<div class="newRoomCreate btn-flat waves-effect">Create</div>
		</div>

	</div>


</template>