<template name="register">

	<div class="loginContainer valign-wrapper">
		
		<div class="loginContents valign">
			
			<div class="loginWelcomeMessage grey-text text-darken-3">
				<p class="welcomeTo">Welcome to</p>
				<p class="welcomeChat teal-text">Chat</p>
			</div>

			<div class="loginForm card">
				
				<div class="row">
					<p class="loginFormHeading">Register</p>
				</div>
				
				<div class="row">
					<div class="input-field loginUsernameInput">
						<input id="registerUsername" type="text">
						<label for="regsiterUsername">Username</label>
					</div>

				</div>

				<div class="row">
					<div class="input-field loginPasswordInput">
						<input id="registerPassword" type="password">
						<label for="registerPassword">Password</label>
					</div>
				</div>

				<div class="row">
					<div class="btn waves-effect waves-light registerUser">
						Register
					</div>
				</div>

				<div class="row">
					<div class="btn-flat waves-effect waves-teal registerGoToLogin grey-text">
						Go to Login
					</div>
				</div>

				<div class="row">
					<div class="btn-flat waves-effect waves-teal registerWithGoogle grey-text">
						Register with Google
					</div>
				</div>

			</div>

		</div>

	</div>	

</template>