.roomTopBar{
	width: 100%;
	height: 50px;
	margin: 0;
	position: fixed;
	z-index: 100;
}


.backButton{
	margin-left: 10px;
	position: relative;
	z-index: 10;
}

.roomName{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 10px;
	font-size: 19px;
}

.newMessageContainer{
	width: 90%;
	position: fixed;
	bottom: 30px;
	margin: 0 auto;
	margin-left: 5%;
	height: 50px;
}
.sendCell{
	width: 120px;
}

.newMessageContent{
	height: 50px;
	border: 0;
	outline: 0;
	position: relative;
	top: 2px;
	resize: none;
}

.postMessage{
	height: 50px;
	width: 100%;
	/*margin-top: -1px;*/
	margin-left: 10px;
	padding-left: 10px;
}

td{
	padding: 0;
}

.messagesCard{
	margin: 0 auto;
	margin-top: 10px;
	width: 800px;
}

.timeStamp{
	position: absolute;
	right: 10px;
	text-align: 10px;
	font-size: 13px;
}

.message{
	position: relative;
}

.messageUser{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 19px;
}

.messageText{
	margin-left: 10px;
	margin-bottom: 10px;
}