<template name="room">

	<div class="roomTopBar card valign-wrapper teal lighten-2">
		
		<div class="backButton white-text"><i class="mdi-hardware-keyboard-backspace small"></i></div>
		<div class="roomName white-text">{{chatRoomName}}</div>

	</div>
	<div style="height:50px;"></div>

	<div class="card messagesCard">
		{{#each chatMessages}}
			<div class="message">
				<div class="timeStamp grey-text">{{chatMessageFormattedDate}}</div>
				<div class="teal-text messageUser">{{ownerName}}</div>
				<div class="messageText">{{message}}</div>
			</div>
			<div class="divider"></div>
		{{/each}}
	</div>

	<div style="height:100px;"></div>

	<div class="newMessageContainer">
	<table>
	<tr>
		<td><textarea class="newMessageContent card" placeholder="Your Message Here"></textarea></td>
		<td class="sendCell "><div class="postMessage card white-text teal valign-wrapper">Post</div></td>
	</tr>
	</table>
	</div>
</template>