<template name="login">

	<div class="loginContainer valign-wrapper">
		
		<div class="loginContents valign">
			
			<div class="loginWelcomeMessage grey-text text-darken-3">
				<p class="welcomeTo">Welcome to</p>
				<p class="welcomeChat teal-text">Chat</p>
			</div>

			<div class="loginForm card">
				
				<div class="row">
					<p class="loginFormHeading">Login</p>
				</div>
				
				<div class="row">
					<div class="input-field loginUsernameInput">
						<input id="loginUsername" type="text">
						<label for="loginUsername">Username</label>
					</div>

				</div>

				<div class="row">
					<div class="input-field loginPasswordInput">
						<input id="loginPassword" type="password">
						<label for="loginPassword">Password</label>
					</div>
				</div>

				<div class="row">
					<div class="btn waves-effect waves-light loginButton">
						Login
					</div>
				</div>

				<div class="row">
					<div class="btn-flat waves-effect waves-teal loginGoToRegister grey-text">
						Register
					</div>
				</div>

				<div class="row">
					<div class="btn-flat waves-effect waves-teal loginWithGoogle grey-text">
						Login with Google
					</div>
				</div>

			</div>

		</div>

	</div>	

</template>