.loginContainer{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.loginContents{
	margin: 0 auto;

}

.loginWelcomeMessage{
	text-align: center;
}

.welcomeTo{
	font-size: 20px;
	margin: 0;
}

.welcomeChat{
	font-size: 45px;
	margin: 0;
}

.loginForm{
	text-align: center;
	width: 280px;
}

.loginFormHeading{
	font-size: 20px;
}

.loginUsernameInput{
	width: 90%;
	margin: 0 auto;
}

#loginUsername{
	width: 95%;
}

.loginPasswordInput{
	width: 90%;
	margin: 0 auto;
}

#loginPassword{
	width: 95%;
}